<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
        <div class="container is-fluid">
            <div class="columns">
                <div class="column">
                    Error:
                </div>
                <div class="column">
                    <%- error.code %>
                </div>
            </div>
        </div>
	</body>
</html>