<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>t</title>
	</head>
	<body>
		<h1>Years</h1>
		<% Years.forEach(Y => { %>
			<a href="/<%- Y %>"><%- Y %></a><br>
		<% }); %>
	</body>
</html>